@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../earth.png");
    color: white;
}

.hidden {
    display: none;
}

.start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    font-family: 'Rajdhani', sans-serif; 
}

#login-form input[type=text] {
    border: none;
    border-bottom: 3px solid green;
    text-align: center;
    margin-top: 15px;
    font-size: 20px; 
    width: 244px;
}
#login-form input[type=submit] {
    display: none;
}

#clock {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

#greeting {
    padding-bottom: 30px;
}
