@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');


* {
    margin: 0;
    padding: 0;
    
}

body {
    width: 100vw;
    height: 100vh;
    color: white;
}

img {
    position:absolute;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
}

ul {
list-style:circle; 
}


.hidden {
    display: none;
}

.start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    font-family: 'Rajdhani', sans-serif; 
}

/* 로그인 line-bottom 효과 */
#login-form input {
    border: none;
    background: none;
    border-bottom: 2px solid;
    transition: border-color 0.5s ease-out ;
} 

#login-form input:focus {
    outline: none ;
    border-color: darkorchid;
 
}
/* 로그인 line-bottom transition*/
#login-form input[type=text] {
    text-align: center;
    margin-top: 15px;
    font-size: 20px; 
    color: white;
    width: 244px;
}

#login-form input[type=submit] {
    display: none;
}

#clock {
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

#greeting {
    padding-bottom: 20px;
}

#main-quote {
    display: flex;
    flex-direction: column;

    margin-top: 10px;
    text-align: center;
    width: 470px;
}
#main-quote span:last-child {
    margin-top: 5px;;
}

#todo-form input{
    text-align: center;
    outline: none;

    margin: 50px 0 20px 0;
}

#weather {
    padding:20px;
}

.footer-screen {
    border: 2px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}